@import '../../variables';

.Acquaintance {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Acquaintance__Row {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.Acquaintance__MessageBox,
.Acquaintance__Preview {
  width: 22rem;
  height: 16rem;
}

.Acquaintance__MessageBox {
  font-size: 1.25rem;
  background: var(--message-color);
  padding: 2rem;
  line-height: 1.5rem;
  border-radius: 0.75rem;
  margin-right: 2rem;
}

.Acquaintance__Preview {
  padding: 2rem 0.5rem 0.5rem 0.5rem;
  background: #36395A;
  border-radius: 0.5rem;
}

.VideoBox {
  position: relative;
  height: 0;
  padding-bottom: 64.2%;
}

.Video {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}