.Input {


}

.Input__Field {
  font-weight: 500;
  padding: 0.4rem 0.5rem;
  outline: none;
  border: none;
  box-shadow: inset 0 1px 4px hsla(0,0%,0%,.5),
              inset 0 0 10px hsla(0,0%,0%,.5),
              0 0 0 1px hsla(0,0%,0%,.1),
              0 -1px 2px 2px hsla(0,0%,0%,.25),
              0 2px 2px 2px hsla(0,0%,100%,.75);
}

.checkbox {
  background-position: 0 0, 1.25rem 0;
  //padding-left: 25px;
  padding-right: 0;
  background-image: -webkit-linear-gradient(hsla(0, 0%, 0%, .1), hsla(0, 0%, 100%, .1)), -webkit-linear-gradient(left, #f66 50%, #44d513 50%);
  background-size: 100% 100%, 200% 100%;
  border-radius: 1rem;
  box-shadow: inset 0 1px 4px hsla(0,0%,0%,.5), inset 0 0 10px hsla(0,0%,0%,.5), 0 0 0 1px hsla(0,0%,0%,.1), 0 -1px 2px 2px hsla(0,0%,0%,.25), 0 0px 2px 2px hsla(0,0%,100%,.75);
  cursor: pointer;
  //padding-right: 25px;
  width: 2.5rem;
  -webkit-appearance: none;
  -webkit-transition: .25s;
  height: 1rem;

  &::after {
    margin-top: 1px;
    margin-left: 1px;
    background-color: #eee;
    background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 0%, .1));
    border-radius: 25px;
    box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,1), inset 0 -1px 1px 1px hsla(0,0%,0%,.25), 0 1px 3px 1px hsla(0,0%,0%,.5), 0 0 2px hsla(0,0%,0%,.25);
    content: '';
    display: block;
    height: 14px;
    width: 1.5rem;
  }
}