.TopPane {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem 1rem 1.2rem;
  position: relative;
}

.Settings__Icon {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 100%;
    height: 100%;
    fill: white;
  }
}

.Notifications {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #292639;
  padding: 0.85rem 2rem;
  position: relative;
  box-shadow: 0px 0px 30px 15px rgba(0, 0, 0, 0.4);
  border: 2px solid #292639;
  border-radius: 3px;

  &:before {
    content: '';
    position: absolute;
    left: 6px; top: 4px;
    width: calc(100% - 12px);
    height: calc(100% - 8px);
    box-sizing: border-box;
    border: 3px solid #402a1e;
    box-shadow: inset 0px 0px 25px 5px rgba(0, 0, 0, 0.6);
  }
}

.Notifications__Item {
  display: block;
  width: 2rem;
  height: 2rem;
  margin: 0 0.25rem;

  img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}

.MainTimer {
  position: absolute;
  border-radius: 6px;
  width: 5.4rem;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  left: 50%;
  top: 1.5rem;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
  background: #292639;
  box-shadow: 0px 10px 30px 2px rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.MainTimer__Numbers {
  opacity: 1;
}

@keyframes blinking {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.MainTimer__Numbers.blinking {
  color: #770e0e;
  animation-name: blinking;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.Icon {
  width: 1rem;
  height: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.LangView {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: auto;
  padding: 1rem;
  cursor: pointer;
}

.LangView__Text {
  margin-right: 0.5rem;
}