html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Root {
  background-image: url("./assets/photo_2023-11-28 01.46.12.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}